@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title</h2>

<form>
    <div class="RegisterForm">
        <label>First Name: </label><br />
        <input type="text" /><br />
        <label>Last Name: </label><br />
        <input type="text" /><br />
        <label>Email Address: </label><br />
        <input type="text" /><br />
        <label>Phone Number: </label><br />
        <input type="text" /><br />
        <label>Team: </label><br />
        <input type="text" /><br />
        <label>Shirt Size: </label><br />
        <input type="radio" name="Shirt" value="Medium" />Medium<br />
        <input type="radio" name="Shirt" value="Large" />Large<br />
        <input type="radio" name="Shirt" value="Extra Large" />Extra Large<br />
        <input type="radio" name="Shirt" value="2XL" /> 2XL<br />
        <label>Who else is on your team?</label><br />
        <input type="text" /><br />
        <input type="submit" value="Register"/>
    </div>
</form>