
@model joesGolfSite.Models.Registerer

@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Submit", "Home", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    <div class="RegisterForm">
        <label>First Name: </label><br />
        <input type="text" name="FirstName" /><br />

        <label>Last Name: </label><br />
        <input type="text" name="LastName" /><br />

        <label>Email Address: </label><br />
        <input type="text" name="EmailAddress"/><br />

        <label>Phone Number: </label><br />
        <input type="text" name="Phone"/><br />

        <label>Team: </label><br />
        <input type="text" name="TeamName" /><br />

        <label>Shirt Size: </label><br />
        <input type="radio" name="ShirtSize" value="Medium" />Medium<br />
        <input type="radio" name="ShirtSize" value="Large" />Large<br />
        <input type="radio" name="ShirtSize" value="Extra Large" />Extra Large<br />
        <input type="radio" name="ShirtSize" value="2XL" /> 2XL<br />

        <label>Who else is on your team?</label><br />
        <input type="text" name="TeamMembers" /><br />

        <input type="submit" value="Register"/>
    </div>
}