@{
    ViewBag.Title = "Registered Teams";
}
<h2>@ViewBag.Title</h2>
<label>Code:</label><input type="text" />
<button onclick="loadPage()">Go!</button>

<script>
    function loadPage() {
        if (true) {

        }
        else {
            
        }
    }
</script>