@{
    ViewBag.Title = "Home Page";
}
<h1>Rural Sourcing Classic</h1>
<h3>Our purpose is to raise money for Augusta Wounded Warrior Project!</h3>
<!--Insert google map-->
<p><strong>Location:</strong> Forest Hills Gold Course</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.1076150608856!2d-82.05026618423678!3d33.472548880767654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f9d20ca1385c13%3A0x1abbfacfc773bdf8!2sForest+Hills+Golf+Course!5e0!3m2!1sen!2sus!4v1519655071027" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<p><strong>When:</strong> May 5th, 2018 registration at 7am, shotgun start at 8:30</p>
<p><strong>Cost:</strong> $400 per team</p>

