<div class="section1">
    <div class="logos">
        <img src="~/Content/Images/Logo-27-014.png" />
        <img src="~/Content/Images/Logo-34.png" />
    </div>
</div>

<div class="section2">
    <div class="info">
        <strong> Information</strong><br />
    </div>
    <div class="information">
        <p>
            <strong>Charity:</strong> Raising money for Augusta Warrior Project<br />
            <strong>Where:</strong> Forest Hills Golf Club<br />
            1500 Comfort Rd, Augusta, GA 30909<br />
            <strong>When:</strong> May 5th, 2018 Registration at 7am<br />
            Shotgun start at 8:30am<br />
            <strong>Cost:</strong> $400 per team
        </p>
    </div>
</div>

<div class="section3">
    <p>
        <strong>Sponsors</strong>
    </p>
</div>

<div class="goldspon">
    <p>
        <strong>Gold</strong><br />
        <img src="~/Content/Images/fakelogo2.png" />
        <img src="~/Content/Images/fakelogo3.png" />
    </p>
</div>

<div class="silverspon">
    <p>
        <strong>Silver</strong><br />
    </p>
    <img src="~/Content/Images/fakelogo4.png" />
    <img src="~/Content/Images/fakelogo5.png" />
</div>

<div class="bronzespon">
    <p>
        <strong>Bronze</strong><br />
    </p>
    <img src="~/Content/Images/fakelogo6.jpg" />
</div>
<a href="~/Views/Home/Register.cshtml">
    <input type="button" value="Register" />
</a>