  <div class="section2">
    <div class="info">
        <h1>
            Information<br />
        </h1> 
    </div>
    <div class="information">
        <p>
            <strong>Charity:</strong> Raising money for Augusta Warrior Project<br />
            <strong>Where:</strong> Forest Hills Golf Club<br />
            1500 Comfort Rd, Augusta, GA 30909<br />
            <strong>When:</strong> May 5th, 2018 Registration at 7am<br />
            Shotgun start at 8:30am<br />
            <strong>Cost:</strong> $400 per team
        </p>
    </div>

<div class="logos">
    <img src="~/Content/Images/LOGO.png" />
</div>
      </div>

<div class="section3">
    <h1>
        <strong>Sponsors</strong>
    </h1>
</div>

<div class="goldspon">
    <h2>
        Gold
    </h2>
    <p> Contact Joe Sterett at joesterett&#64;gmail.com for information about sponsorship</p>
</div>

<div class="silverspon">
    <h3>
        Silver
    </h3>
   
</div>

<div class="bronzespon">
    <p>
        <strong>Bronze</strong>
    </p>
    
</div>