@model joesGolfSite.Models.ViewModels.AdminDisplayResultsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model.DisplayResults)
{
    <div>
        item.Phone
    </div>
}

